<h1>Enter Email</h1>
<!-- <form action="./users/forgotpass"></form> -->
<form action="/users/checkmail" method="POST">
    <input type="email" name="email" placeholder="Email"  required>
    <br>
    <input type="submit" value="send otp">

</form>