<head>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/home.css">


    </head>
    <body>
    <header>
    Page Header
      
    <ul>
        <% if (locals.user) {%>
            <li> <a href="/users/profile">
                <!-- <%= user.name %> -->
                My Profile
            </a></li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
            <% }else{%>
                <li>
                 <a href="/users/sign-in">Sign-in</a>   
                </li>

                <li>
                    <a href="/users/sign-up">Sign Up</a>
                </li>

           <% } %>
    </ul>
</header>
<h1>
    Codeial / <%= title %>
</h1>

<section id="feed-posts">
    <h4>Post</h4>
    <form action="/posts/create" Id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>
</section>
</body>