<h1>Enter OTP</h1>
<!-- <form action="./users/forgotpass"></form> -->
<form action="/users/verify" method="POST">
    <input type="otp" name="OTP" placeholder="Number"  required>
    <br>
    <input type="submit" value="verify">

</form>