<h1>Enter OTP</h1>
<!-- <form action="./users/forgotpass"></form> -->
<form action="/users/verify" method="POST">
    <input type="text" name="otp" placeholder="otp"  required>
    <br>
    <input type="submit" value="verify">

</form>