<head>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<h1>
    My media profile
</h1>

<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>

<li>
    <a href="/users/sign-out">Sign Out</a>
</li>