<!-- <link rel="stylesheet" href="/css/user_profile.css"> -->
<head>
    <link rel="stylesheet" href="/css/user_profile.css">
</head>
<h1>
    Codeial / Profile Page
</h1>
<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>

<li>
    <a href="/users/sign-out">Sign Out</a>
</li>